@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1 : Verdana, Geneva, Tahoma, sans-serif;
    --fonte2 : 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--fonte1);

}
header {
    background-color: black;
    text-align: center;
    color: white;
      
    
}
header > h1 {
    padding-top: 40px ;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header  a:hover, footer a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.5em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.512);
}
section#img01 {
    background-color: gray;
    color: white;
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
section#img02 {
    background-color: gray;
    color: white;
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.582);
    border: 1px black;
    border-radius: 7px;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
}
